* {
    box-sizing: border-box;
}

body {
    width: 1280px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background: #f0e6f4;
}

.nav {
    text-align: center;
}

.menu-link{
    display: inline-block;
    margin-top: 26px;
    margin-bottom: 26px;

    padding-right: 72px;
}

.menu-link:last-child {
    padding-right: 0;
}

a {
    color: #854983;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
}

.theme {
    position: fixed;
    top: 13px;
    right: 150px;
    padding: 10px;
}

.theme svg {
    cursor: pointer;
}

.section-img {
    margin-bottom: 49px;
}

.content {
    display: inline-block;
    text-align: center;
}

.content-title {
    color: #373737;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    padding-bottom: 38px;
}

.content-text {
    font-size: 16px;
    line-height: 26px ;
    letter-spacing: 2.4px;
    color: #373737;

}

.content-text:last-child {
    padding-top: 28px;
    padding-bottom: 66px;
}

.btn {
    display: block;
    text-align: center;
    background-color: #854983;
    width: 191px;
    height: 51px;
    border-radius: 4px;
    margin: 0 auto;
}

.btn-action  {
    box-sizing: border-box;
    color: #FFFFFF;
    padding: 18px 0;
    font-size: 12px;
    line-height: 12px;
}

.copy {
    display: block;
    margin-top: 82px;
    margin-bottom: 29px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}
