body {
    background: #f0e6f4;
}

a {
    color: #854983;
}

.content-title {
    color: #373737;
}

.content-text {
    color: #373737;
}


.btn {
    background-color: #854983;
}

.copy {
    color: #373737;
}

