body {
    background: #FFFFFF;
}

a {
    color: #FF0000;
}

.content-title {
    color: #373737;
}

.content-text {
    color: #373737;
}

.btn {
    background-color: #FF0000;
}

.btn-action  {
    color: #FFFFFF;
}

.copy {
    color: #373737;
}
